parameters:
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Access to undefined constant App\\Doctrine\\Repositories\\DoctrineBasicRepository::CLASS_NAME\.#'

    bootstrap: vendor/autoload.php
    excludes_analyse:
        - app/Exceptions/Handler.php
        - app/Http/Controllers/Auth/RegisterController.php
        - app/Http/Middleware/Authenticate.php
        - app/Providers/BroadcastServiceProvider.php
        - tests/Unit/WeatherPartnersTest.php
includes:
        - vendor/phpstan/phpstan-phpunit/extension.neon
        - vendor/phpstan/phpstan-phpunit/rules.neon
